.center {
  text-align: center;
  margin: auto;
  width: 50%;
}

.hide {
  visibility: hidden;
}

input[type='text'] {
  text-align: center;
}

#form-table {
  margin: auto;
  width: 30%;
}

#result {
  width: fit-content;
  font-size: larger;
  margin-top: 50px;
  border-radius: 50px;
}

.bi-patch-check-fill {
  font-size: 3rem;
  color: limegreen;
}

#result-table {
  text-align: center;
}

#result-table .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

#result-table .col-md-4 {
  border: 0.5px solid;
  border-radius: 5px;
}

.table-title {
  background: coral;
  border-radius: 5px;
}

.table-header {
  font-weight: 2;
}